@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

.unityScreen {
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
  height: 100vh;            /* Take full viewport height */
}

.center-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  height: 100vh; /* Full height of the viewport */
}

.portfolio-container {
  width: 100%;
  height: 100vh; /* Example: make the container fill the height of the viewport */
  background-color: #f0f0f0; /* Example: light grey background */
  overflow: hidden; /* Prevent scrolling within the component */
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
  background-color: #000; /* Or any color you prefer */
  color: #00ff00; /* Or any color you prefer */
  font-family: 'Press Start 2P', cursive; /* Pixel art font */
  font-size: 50px;
  transition: opacity 5s ease-out;
  z-index: 1000;
}



.slider {
  height: 10px; /* Make the slider thicker */
  background-color: #00ff00; /* Bright green */
  animation: slide 2s linear infinite;
  border: 1px solid #fff; /* Add a border for more defined edges */
  margin-top: 100px;
}

/* Adjust the slide animation for a more retro look, if desired */
@keyframes slide {
  0% { width: 0; }
  50% { width: 50%; }
  100% { width: 100%; }
}
